{{template "base" .}}
{{define "title"}}
    About
{{end}}
{{define "content"}}
<div class="container">
    <h1>This is the about page</h1>
    <p>This is a page about stuff and Madison</p>
    <p>It includes a lot of information about Madison</p>

    <p>This came from the template: {{index .StringMap "test"}}</p>
</div>
{{end}}