{{template "base" .}}
{{define "title"}}
    Madison Page
        {{end}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the Madison page.</h1>
            <img src="../assets/madison.jpeg" alt="Madison">
            <p>Madison, your mom has a question: {{index .StringMap "check"}}</p>
        </div>
    </div>
</div>
{{end}}